@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.card{
  background-color: #d2a1ff0d;
  padding: 20px;
  border-radius: 10px;
  height: 100%;
}
.card h1{
  font-weight: 700;
  text-align: center;
}
.card .addTask{
    width:200px ;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    border: 1px solid #d10fad6d;
    background-color: #d10fad6d;
    color: #ffff;
}
.card .flex_section{
  text-align: end;
  padding: 20px 0;
}
ul {
  padding: 20px;
  list-style: none;
}
input,select{
  width: 100%;
  border: 1px solid #000000 !important;
  border-radius: 5px !important;
  padding: 5px !important;
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0;
}
label{
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
.selectRadio{
  display: flex;
  align-items: center;
  gap: 10px;
}
.selectRadio input{
  width: auto;
}
table{
  width: 100%;
  margin: 20px 0;
}
table td{
  text-align: left;
  /* border-bottom: 1px solid #ffffff; */
  font-size: 14px;
  font-weight: 500;
  color: #ffff;
  padding: 5px;
}
table th{
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
.high{
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #ff0000;
}
.medium{
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #ff8b48;
}
.low{
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #ffff48;
}
.error{
  color: #ff0000;
}
.noData{
  text-align: center;
  padding: 20px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #fff;
}
.edit{
  background-color: palegreen;
  border-radius: 5px;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.delete{
  background-color: #ff1515;
  border-radius: 5px;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.action_td{
  display: flex;
  gap: 10px;
}